.menu-bg-1{
    background: url(https://www.baliwaglechonmanok.com/upload/assets/XI4SnzPl3FOoqvJRKEX0H05DoihedQzo30q9jusqJCLi3wdQEc.jpg);
    background-size: 90%;
    background-position-y: 60%;
    background-position-x: 50%;
    background-repeat: no-repeat;
}

.menu-bg-2{
    background: url(/img/ready-to-heat.jpg);
    background-size: 110%;
    background-position-y: 80%;
    background-position-x: 60%;
    background-repeat: no-repeat;
}

/* .img-bg-card{
    object-fit: cover;
} */

/* Menu Title Stack */

.menu-title-wrapper{
    margin: 0 0 3px;
    display: table;
}

.rel{
    position: relative !important;
    margin-bottom: 2rem;
}

.menu-item-title {
    position: relative;
    display: table-cell;
    width: 1%;
    white-space: nowrap;
    padding: 0 10px 0 0;
}

.menu-item-dots {
    position: relative;
    display: table-cell;
    height: 3px;
    width: 98%;
    z-index: 1;
    background-image: radial-gradient(circle closest-side, #006421 99%, transparent 100%);
    background-position: 50% 80%;
    background-size: 6px 2px;
    background-repeat: repeat-x;
}

.h5-sm{
    margin-bottom: 0;
    color: #046d38;
    font-size: x-large;
}