@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: 'Montserrat';
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

.c-navbar, footer{
    background-color: #046d38;
}

.nav-item{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
}


.nav-link{
    color: white !important;
    position: relative
}

.nav-link::after{
    content: '';
    opacity: 0;
    transition: all 0.2s;
    height: 3px;
    width: 100%;
    background-color: greenyellow;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-link:hover::after{
    opacity: 1;
}

@media only screen and (max-width: 845px){
    .nav{
        display: flex;
        flex-direction: column;
    }
}


.icons{
    top: 74%;
    left: 0;
    transform: translateY(50%);
    position: fixed;
    z-index: 100;
}


.icons ul{
    padding: initial;
}

.sm-link{
    height: 50px;
    width: 60px;
    padding-left: 12px;
    padding-top: 6px;
    margin-top: 5px;
    color: #fff;
    background-color: #046d38;
    font-size: 25px;
}

.sm-link:hover{
    padding-left: 30px;
    width: 80px;
    transition: 1s;
    background-color: #046d38;
}

.c-item{
    height: 55vh;
}

@media only screen and (max-width: 845px) {
    .c-item{
        max-height: 30vh;
    }
}

.c-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

@media only screen and (max-width: 845px) {
    .hero-container{
        max-width: 100%;
        max-height: 30vh;
        padding: 0;
    }
}

.hero-title{
    text-align: center;
    color: white;
    z-index: 10;
}

.hero-title > h1 {
    margin-top: 10px;
    font-weight: 700;
    text-shadow: 2px 2px 5px black;
}

.hero-container, .menu-container, .cater-container{
    padding: 0;
}

.store-section{
    background-color: #f5f5f5;
}

.store-locator{
    padding: 25px 0;
    margin: 0;
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
}

.store-groups{
    padding: 25px 100px;
    margin: 0;
}

.store-groups a{
    color: #046d38;

}

.title > img{
    margin-right: 2rem;
}

@media only screen and (max-width: 845px){
    .store-section{
        margin: auto 0;
        max-width: 100%;
    }

    .store-locator{
        flex-direction: column;
    }

    

    .find-button{
        margin-top: 20px;
    }
}

@media only screen and (max-width: 430px){
    .title{
        flex-direction: column;
        align-items: center;
    }

    .title > img{
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .l-caption > .text-center{
        margin: auto;
    }

    .l-caption > .fs-5{
        margin-top: 10px;
    }
    
    .store-groups{
        flex-direction: column;
    }

    .store-groups > div{
        margin-top: 30px;
    }
}


.title{
    display: flex;
    justify-content: space-around;
    color: #046d38;
}

.l-caption > h1,
.l-caption > p{
    line-height: 100%;
    margin: auto 0;
}

.menu-container, .cater-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

@media only screen and (max-width: 845px){
    .menu-container, .cater-container{
        border: 1px solid #f5f5f5;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .menu-caption{
        padding: 30px 0;
    }
}

.cater-container{
    flex-direction: row-reverse;
}

.menu-img{
    height: 40vh;
    width: 50%;
    object-fit: cover;
}

@media only screen and (max-width: 845px){
    .menu-img{
        width: 100%;
    }
}

.menu-caption{
    text-align: center;
    margin: auto;
}

footer, footer a{
    color: white;
}

.tk-title, .menu-detail{
    color:#046d38;
}

.btn-selection{
    padding: 3rem;
    width: 30%;
    color: white;
    font-weight: 700;
}

.btn-menu-1:hover,
.btn-menu-2:hover,
.btn-menu-3:hover{
    background: #046d38;
}

.btn-menu-1{
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSB2R2QUvEJSzbIeRKEy4mCSQ4te7gz8pMMwZx0aHPraQ&s);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.btn-menu-2{
    background: url(https://thegirlwiththemujihat.com/wp-content/uploads/2021/10/IMG_9880.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.btn-menu-3{
    background: url(https://www.baliwaglechonmanok.com/upload/assets/eAc1Z0tG2XILkY4nFBT6PV2kucNnl5ylvfa1oFmau6Q4qPzmLy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


