@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: 'Montserrat';
}

.c-navbar{
    background-color: #046d38;
}

.nav-item{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
}


.nav-link{
    color: white !important;
    position: relative
}

.nav-link::after{
    content: '';
    opacity: 0;
    transition: all 0.2s;
    height: 3px;
    width: 100%;
    background-color: greenyellow;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-link:hover::after{
    opacity: 1;
}